.options{
    display: flex;
    justify-content: center;
    .btn-no {
        background-color: #212121;
        color: white;
    }
    .btn-yes {
        background-color: #fc3f3f;
        color: white;
    }
}