
<main>
  <button></button>
  <mat-card class="card__cursos">
    <img mat-card-image src="assets/Cards/Angular.png" alt="angular">
    <mat-card-content>
      <p>Profesor:</p>
      <p>Comisión:
      <p>Fecha de inicio:</p>
      <p>Fecha de finalización:</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="card-button-edit">Editar</button>
      <button mat-button class="card-button-delete">Eliminar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card__cursos">
  
    <img mat-card-image src="assets/Cards/React.png" alt="react">
    
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error incidunt, aut facilis esse fugit nesciunt eaque illo consectetur tempora voluptate voluptatem et molestias doloremque sunt iste totam quaerat dolor labore!
      </p>
    </mat-card-content>
  
    <mat-card-actions>
      <button mat-button class="card-button-edit">Editar</button>
      <button mat-button class="card-button-delete">Eliminar</button>
    </mat-card-actions>
  </mat-card>
    <mat-card class="card__cursos">
  
    <img mat-card-image src="assets/Cards/Vue.png" alt="Vue">
    
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error incidunt, aut facilis esse fugit nesciunt eaque illo consectetur tempora voluptate voluptatem et molestias doloremque sunt iste totam quaerat dolor labore!
      </p>
    </mat-card-content>
  
    <mat-card-actions>
      <button mat-button class="card-button-edit">Editar</button>
      <button mat-button class="card-button-delete">Eliminar</button>
    </mat-card-actions>
  </mat-card>
</main>