$color-primary: #7f4edb;        
$color-primary-dark: #53338f;

$color-secondary: #6c757d;      // Gris
$color-success: #28a745;        // Verde
$color-danger: #dc3545;         // Rojo
$color-warning: #ffc107;        // Amarillo
$color-info: #17a2b8;           // Cian

// Colores de texto
$color-text-dark: #333;         // Texto oscuro
$color-text-light: #f8f9fa;     // Texto claro

// Colores de fondo
$color-background: #f8f9fa;     // Fondo general
$color-background-dark: #343a40; // Fondo oscuro

// Otros colores
$color-link: #007bff;           // Enlaces

// Colores adicionales (puedes agregar los que necesites)
$color-purple: #6f42c1;         // Morado
$color-pink: #e83e8c;           // Rosa
$color-orange: #fd7e14;         // Naranja
$color-yellow: #ffc107;         // Amarillo
$color-green: #28a745;          // Verde
$color-blue: #007bff;           // Azul
$color-teal: #20c997;           // Turquesa
$color-cyan: #17a2b8;           // Cian
$color-gray: #6c757d;           // Gris
$color-dark: #343a40;           // Negro
$color-light: #f8f9fa;          // Blanco
