<div class="container">
    <div mat-dialog-content>
        <mat-icon>warning</mat-icon>
        <div class="container-dialog">
            <h2>¡Esta a punto de eliminar un curso!</h2>
            <span>Esta acción es irreversible, para confirmar escribe el número de la comisión:<strong> {{data.commission}} </strong></span>
            <br>
            <form [formGroup]="registerForm">
                <mat-form-field class="d-flex mt-1">
                    <input type="number" matInput [formControl]="commissionDeleteFormControl">
                    <mat-error *ngIf="commissionDeleteFormControl.hasError('required')">El numero de la comision es <strong>requerido</strong> para elimnar</mat-error>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>
<div mat-dialog-actions class="options">
    <button (click)="cancel()" mat-dialog-close mat-flat-button class="btn-no">No</button>
    <button (click)="deletes()" mat-flat-button class="btn-yes">Si</button>
</div>
