.container-main {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border: 10px solid #212121;
    .login-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 500px;
        height: 700px;
        margin: 20px;
        .login-title {
            h2 {
                font-size: 1.8rem;
                margin-bottom: 60px;
                text-align: center;
                color: #000000;
            }
        }
        mat-form-field {
            width: 100%;
            margin: 10px 0px;
        }
        .bg-buttons {
            .register-button {
                width: 100%;
                margin-bottom: 40px;
                font-size: 1rem;
                color: rgb(255, 255, 255);
                background-color: #7f4edb;
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
                &:hover {
                    color: #000000;
                }
            }
            .login-button {
                font-size: 1rem;
                a {
                    margin-left: 5px;
                    color: #7f4edb;
                    transition: transform 300ms ease-out;
                &:hover {
                    transform: translate(0px, -5px);
                    text-shadow: 0px 5px 10px #7f4edb7a;
                }
                }
            }
        }
    }
}