.dialog-container {
    width: 600px;
    margin: 20px;
    .form-container {
        display: flex;
        justify-content: space-around;
        .form_select {
            width: 70%;
            margin-right: 20px;
        }
        .form_input {
            width: 30%;
        }
    }
    .dialog-button-cancel {
        button {
            width: 100%;
            color: white;
            background-color: #212121;
        }
    }
    .dialog-button-save {
        button {
            width: 100%;
            color: white;
            background-color: #0d6efd;
        }
    }
}
