.dialog-container {
    width: 400px;
    height: 100%;
    margin: 20px;
    p {
        font-size: 1.1rem;
    }
}
.button-close {
    margin-top: 20px;
    width: 100%;
    color: white;
    background-color: #212121;
}