.toolbar {
    background-color: #53338f;
    
    .toolbar-title {
        font-family: raceSport;
        font-size: 1.25rem;
        margin: 10px;
        color: #ffffff;
    }

    .toolbar-clock {
        position: absolute;
        right: 35px;
        width: 315px;
        margin: 0;
        font-family: raceSport; 
        font-size: 1.25rem;
        background-color: #212121;
        color: white;
        border: 5px solid #212121;
        border-radius: 5px;
        span {
            margin: 5px;
        }
    }
    
    button {
        mat-icon {
            color: white;
            margin: 0 !important;
        }
    }
}

.sidenav-container {
    height: 93.4%;
    background-color: #ffffff;

    .sidenav {
        width: 250px;
        background-color: #f1f1f1;
        box-shadow: 2px 0px 10px 2px rgba(0, 0, 0, 0.1);

        .user-profile {
            margin-left: auto !important;
            margin-right: auto !important;
            width: 120px;
            height: 120px;
            margin: 10px;
            img {
                width: 100%;
                height: 100%;
                border: 5px solid #212121;
            }
        }
        .user-name {
            margin: 20px;
        }

    }
}


.accordion-container {
    margin-top: 10px;

    .accordion {
        color: white;
        background-color: #252525;
        margin: 10px;

        .accordion-title {
            color: white;
        }
        button {
            color: white;
            background-color: #666666;
            width: 100%;
            margin: 5px 0px;
        }
        .accent-color {
            background-color: #7f4edb;
        }
    }
}


.btn-verHora {
    width: 230px;
    position: absolute;
    bottom: 45px;
}

.btn-cerrarSesion {
    width: 230px;
    position: absolute;
    bottom: 0px;
    background-color: #2b5be0 !important;
}